body {
  padding-top: 56px;
}

body, .sticky-footer-wrapper {
   min-height:100vh;
}

.flex-fill {
   flex:1 1 auto;
}

.bg-copper {
  background-color: #CC5233;
}

.page-content h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.page-content p {
  font-family: 'Ubuntu', sans-serif;
}

.banner h1 {
  font-family: 'Averia Serif Libre', cursive;  
  font-size: 3rem;
}

.banner p {
  font-family: 'Averia Serif Libre', cursive;  

}

.featured .card-title {
  font-size: 48px;

  font-family: 'Averia Serif Libre', cursive;  
}

.navbar-brand{
  font-size: 32px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}


.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

footer {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.7rem;
}

.icons {
  font-size: 1.5rem;
}

