body {
  padding-top: 56px;
}

body, .sticky-footer-wrapper {
   min-height:100vh;
}

.flex-fill {
   flex:1 1 auto;
}

.bg-copper {
  background-color: #CC5233;
}

.page-content h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.page-content p {
  font-family: 'Ubuntu', sans-serif;
}

.banner h1 {
  font-family: 'Averia Serif Libre', cursive;  
  font-size: 3.5rem;
}

.banner p {
  font-family: 'Averia Serif Libre', cursive;  

}

.featured .card-title {
  font-size: 48px;

  font-family: 'Averia Serif Libre', cursive;  
}

.navbar-brand{
  font-size: 32px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}


/* added by OP - 30.07.2020 */
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
